body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 75px;
}

.center {
    text-align: center;
    color:white;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.design
    {
        max-width: 800px;
        margin: 0 auto;
        color: #488a84;
        font-family: sans-serif;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .abt
    {
    color:#23847b;
    font-family:impact;
    }
    
    nav
{
    padding:15px;
	height:50px;
	/* width:850px; */
	/* box-shadow:1px 5px 10px black; */
	margin:10px;
	 outline:1px solid green;

	}
#menu 
{
	padding:0px;
	margin-top:0px;
}
#menu li
{
	font-family:lucida calligraphy;
	color:black;
	display:inline;
	margin-left:27px;
	padding:12px;

}
