body {
    font-family: sans-serif;
    background-color: #ccff33;
    margin-top: 75px;
}

.center {
    text-align: center;
    color:white;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.design
    {
        max-width: 800px;
        margin: 0 auto;
        color: black;
        font-family: lucida calligraphy;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .abt
    {
    color:white;
    font-family:monotype corsiva;
    }
    
    nav
{
    padding:15px;
	height:50px;
	/* width:850px; */
	/* box-shadow:1px 5px 10px black; */
	margin:10px;
	 outline:1px solid green;

	}
#menu 
{
	padding:0px;
	margin-top:0px;
}
#menu li
{
	font-family:monotype corsiva;
	color:white;
	display:inline;
	text-align:center;
	padding:12px;
	text-decoration:none;
}
a
{
    text-decoration:none;
}
ul li
{
    line-height:20px;
}
}