body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.design
    {
        max-width: 800px;
        margin: 0 auto;
        color: #488a84;
        font-family: sans-serif;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .abt
    {
    color:#23847b;
    font-family:impact;
    }
